<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>To do List</title>
   <link rel="stylesheet" href="css/main.css">
   <script src="https://code.jquery.com/jquery-3.4.0.min.js" type="text/javascript"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="js/main.js" charset="utf-8"></script>
  </head>
  <body>
     <div id="app" class="container">
       <div class="logo">
        <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
      </div>
      <div class="new-todo">
                <input v-model="newTodo" type="text" placeholder="iserire elementi" @keyup.enter="addTodo">
                <button @click="addTodo" type="button" name="button">Aggiungi</button>
            </div>

            <div class="todos-container">
                <h2 v-if="todos.length==0">non ci sono elementi nella lista</h2>
                <ul v-else>
                    <li class="todo" v-for="(contInd, ind) in todos">{{contInd}}<i @click="removeTodo(ind)" class="fas fa-times pointer"></i></li>
                </ul>
            </div>
        </div>



  </body>
</html>
